/* Ensure all elements use border-box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.hero {
    width: 100%; /* Ensure it takes the full width of the viewport */
    height: 100vh; /* Full screen height */
    background: linear-gradient(rgba(64, 59, 100, 0.7), rgba(18, 15, 37, 0.7)), url('../../assets/heroonedevi.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    overflow: hidden; /* Prevent any overflow */
}

.hero-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto; /* Center the text container */
    padding: 0 20px; /* Add padding to prevent text overflow */
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.5; /* Ensure proper line height */
}


/*   media query */ 

@media (max-witdh: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-witdh: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width:400px;
        margin: auto;
    }
    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
    }
}
