.footer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    border-top: 1px solid #797979;
    padding: 15px 0;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer ul li {
    list-style: none;
    margin-left: 20px;
    text-align: center;
}

/* ---- Media Queries ---- */

@media (max-width: 900px) {
    .footer {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
    }
    .footer ul {
        flex-direction: column; /* Stack list items vertically */
        margin-top: 10px;
    }
    .footer ul li {
        margin: 10px 0; /* Adjust margin for vertical stacking */
    }
}