
.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Ensure it is positioned relative to the document flow */
     /* padding-top: 100vh; Add padding to push it below the hero section */
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.program{
    flex-basis: 31%;
}

.program img:hover {
    transform: scale(1.17); /* Slight zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a soft shadow around the image */
}

/* media queries */


@media (max-width: 650px) {
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 25px;
    }
}